@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Roboto:300,400,700");

body {
  font-family: 'Lora', serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background-color: #333;
  padding: 10px 0;
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.header-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; // centers the image if it's narrower than the container
}


nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

nav li a {
  color: white;
  transition: color 0.3s;
}

nav li a:hover {
  color: #007BFF;
}

.banner {
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.1) 50%), url('images/background.jpg');
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  text-align: center;
  color: white;
}

.banner h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

.banner h2 {
  font-size: 30px;
  font-weight: lighter;
  opacity: 0.8;
  margin-bottom: 30px;
}

.btn-blue {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-blue:hover {
  background-color: #0056b3;
}

.avatar {
  border-radius: 50%;
  display: block;
}

.avatar-small {
  width: 50px;
  height: 50px;
}

.avatar-medium {
  width: 100px;
  height: 100px;
}

.avatar-large {
  width: 150px;
  height: 150px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #ccc; 
    background-color: #fff; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.card img {
    width: 150px;       
    height: 150px;     
    border-radius: 50%; 
    object-fit: cover; 
}

.card h3 {
    flex-grow: 1;
    padding-left: 20px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    flex-basis: 250px;
    flex-grow: 1;
    margin: 10px;
}


footer {
  background-color: #f4f4f4;
  padding: 20px 0;
  text-align: center;
}

